pandas
numpy
scikit-learn
xgboost
prophet
matplotlib
seaborn
pyarrow
openpyxl
jupyter
selenium
webdriver-manager
python-dotenv
optuna
python-telegram-bot
openmeteo-requests
requests-cache
retry_requests
